fix3p-uploader {
    text-align: center;

    input {
        display: none;
    }

    label {
        display: block;
        height: 100vh;
        width: calc(100% - 30px);
        padding: 200px 15px;
        font-size: 2.5em;
        color: $primaryColor;
        cursor: pointer;
        position: relative;
        
        small {
            font-size: 0.8em;
        }

        i { 
            font-size: 3em;
        }

        &:hover, .hover {
            color: lighten($primaryColor, 10%);
        }
    }    
}