header {
    padding: 5px;
    background: $primaryColor;
    height: 100px;
    line-height: 95px;
    display: flex;

    a {
        color: white;
        text-decoration: none;
    }

    > div {
        height: 100%;
        flex-basis: calc(100% / 2);
        text-align: center;

        &:nth-child(1) {
            text-align: right;
            margin-right: 15px;
        }

        &:nth-child(2) {
            text-align: left;
        }

        img {
            height: 100%;
            display: inline-block;
            vertical-align: middle;
        }
        
        h1 {
            font-size: 3em;
            color: white;
            display: inline-block;
            vertical-align: middle;
            font-weight: bold;
            text-transform: uppercase;
        } 
    }

    #nist-logo {
        padding: 15px 0;
    }
}    