@import "vars.scss";

* {
    padding: 0;
    margin: 0;
    font-family: Montserrat, sans-serif;
    box-sizing: border-box;
    outline: none !important;
}

body {
    position: relative;
    min-height: 100vh;
}

#settings-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background: $primaryColor;
    color: white;
    font-size: 30px;
    text-align: center;
    display: block;
    line-height: 50px;
    cursor: pointer;

    &:hover {
        background: lighten($primaryColor, 10%);
    }
}

#report-a-bug {
    position: fixed;
    height: 50px;
    background: transparent;
    cursor: pointer;
    bottom: 0;
    right: 0;
    line-height: 50px;
    color: white;
    text-align: center;
    display: block;
    font-size: 1.2em;
    background: $primaryColor;
    padding: 0 15px;
    text-transform: uppercase;

    &:hover {
        background: lighten($primaryColor, 10%);
    }
}

.container {
    padding: 15px;
}

a {
    text-decoration: none;
    color: $primaryColor;
}

label, .tab {
    font-size: 12pt;
}

 
@import "header"; 
@import "animations";
@import "panorama";
@import "input";
@import "stage";

.viewport {
    overflow-x: hidden;
}


.popup {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    padding: 30px;
    background: rgba(0,0,0,.3);
    opacity: 0;
    z-index: -1;
    transition: opacity .5s;
    text-align: center;

    .popup-content {
        margin-top: 25vh;
        font-size: 18pt;
        background: white;
        max-width: 800px;
        border-radius: 25px;
        padding: 15px;
        color: $primaryColor;
        width: 100%;
        display: inline-block;
        z-index: 6;
        text-align: center;
        transition: opacity 1s;
    }

    .popup-btns {
        display: flex;
        margin: 50px 15px 15px 15px;

        .popup-btn {
            flex-basis: 50%;
            background: $primaryColor;
            color: white;
            height: 30px;
            line-height: 30px;
            font-size: 12pt;
            cursor: pointer;

            &:first-child {
                border-radius: 25px 0 0 25px;
                margin-right: 1px;
            }

            &:last-child {
                border-radius: 0 25px 25px 0;
            }

            &:hover {
                background: lighten($primaryColor, 10%);
            }
        }
    }

    &.active {
        opacity: 1;
        z-index: 5;
    }
}

.setup {
    
    section {
        padding: 30px 0;
    }

    .container {
        padding: 30px;

        h3 {
            font-size: 18pt;
        }

        h2 {
            font-size: 20pt;
            margin: 15px 0;
        }

        p {
            font-size: 14pt;
        }

        img {
            width: 100%;
            max-width: 1200px;
            margin: 30px 0;
        }
    }
}

.row {
    display: flex;
    position: relative;
    margin-top: 50px;
 
    main {
        flex-basis: 60%;
        flex-grow: 1;
    }
}