@import "vars.scss";

main {
    padding: 15px;

    h1 {
        font-size: 2.5em;
        color: $primaryColor;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
}

.setting {
    display: flex;
    height: 100px;
    align-items: center;
    padding: 15px;

    label {
        flex-basis: 90%;
        
        
        h2 {
            font-size: 1.5em;
            text-transform: uppercase;
            color: $primaryColor;    
            font-weight: bold;
            margin: 0;
        }

        p {
            margin: 0;
        }
    }

    .setting-input {
        flex-basis: 10%;
    }
}