header {
    padding: 5px;
    background: $primaryColor;
    height: 150px;
    line-height: 145px;
    display: flex;

    > div {
        height: 100%;
        flex-basis: 50%;
        text-align: center;
        
        img {
            height: 100%;
            display: inline-block;
            vertical-align: middle;
        }
        
        h1 {
            font-size: 3em;
            color: white;
            display: inline-block;
            vertical-align: middle;
            font-weight: bold;
            text-transform: uppercase;
        } 
    }
}    