.active-btn {
    border: 5px solid $primaryColor;
}

.stage {
    flex-basis: 40%;
    flex-grow: 1;
    padding: 15px;
    height: 90vh;
    position: relative;
    padding-top: 60px;
    background: white;
    
    .pane {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 5px;
        line-height: 40px;
        font-size: 30px;
        text-align: right;
        color: $primaryColor;
        border-bottom: 1px solid;

        .pane-main-tray {
            position: relative;
            z-index: 1;
        }

        .pane-paint-tray {
            position: absolute;
            top: calc(100% + 1px);
            width: calc(100% - 10px);
            padding: 0 15px;
            font-size: 14pt;
            line-height: 50px;
            height: 0;
            transition: height .5s;
            overflow: hidden;
            white-space: nowrap;
            background: rgba(255, 255, 255, 0.8);
            z-index: 0;

            &.active {
                height: 50px;
            }
        }

        i {
            margin: 0 10px;
            cursor: pointer;
            transition: transform .5s;
            padding: 10px;
            border-radius: 100%;
            position: relative;
            border: 5px solid transparent;

            .tooltip {
                position: absolute;
                bottom: -30px;
                right: 50%;
                line-height: 20px;
                padding: 5px 10px;
                color: white;
                border-radius: 25px 0 25px 25px;
                background: $primaryColor;
                font-size: 8pt;
                opacity: 0;
                transition: opacity .5s;
                z-index: 3;

                &:after {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: -9px;
                    border-top: 10px solid transparent;
                    border-right: 10px solid $primaryColor;
                    border-left: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                }
            }

            &:hover {
                transform: scale(1.2, 1.2);

                .tooltip {
                    opacity: 1;
                }
            }

            &.active {
                @extend .active-btn;
            }
        }
    }

    canvas {
        width: 100% !important;
        height: 100% !important;
        background: white;
        z-index: 1;
        
    }

    #annotation {
        -webkit-appearance: none;
        appearance: none;
        border: none;
        border-bottom: 5px solid;
        position: absolute;
        z-index: 2;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 5%;
        min-width: 20%;
        font-size: 18pt;
        font-weight: bold;
        padding: 0 15px;
        line-height: 50px;
        text-align: center;
        color: $primaryColor;
        background: none;
        opacity: 0;
        pointer-events: none;
        transition: opacity .5s;
    }

    /**
     * Stage Modes ===============
     */

    &[disabled] {
        opacity: 0.8;

        &:after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding-top: 40%;
            font-size: 20pt;
            font-weight: bold;
            text-align: center;
            color: $primaryColor;
            content: "Could not render this X3P";
        }
    }

    &[data-mode="paint"] {
        .pane-paint-btn { @extend .active-btn; }
        .pane-paint-tray { height: 50px; }
        
        #annotation { 
            opacity: 1;
            pointer-events: initial;
        }
    }
}